{% extends 'base.html.twig' %}

{% block body %}
<div id="question-1"></div>

<script>
Morris.Bar({
    element: 'question-1',
    data: [
      { y: '2006', a: 100, b: 90, c:40, d:0 }
    ],
    xkey: 'y',
    ykeys: ['a', 'b', 'c', 'd'],
    labels: ['Moi boa', 'Boa', 'Mellorable', 'Mala']
});
</script>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
